.wrapper {
  margin-top: 16px;

  p {
    margin-bottom: 12px;
  }

  ul {
    list-style-type: disc;
    margin-left: 24px;
  }
  li {
    margin-bottom: 8px;
  }

  a {
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
