.wrapper {
  margin-top: 16px;

  p {
    margin-bottom: 12px;
  }

  ul {
    list-style-type: disc;
    margin-left: 24px;
  }
  li {
    margin-bottom: 8px;
  }

  a {
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
}
